.bg-img {
  position: relative;
  background-image: url("../img/homepage_fond.png");
  background-size: cover;
  height: 3333px;
  background-repeat: no-repeat;
}

.bg {
  background-image: url(../img/train-bg.png?as=webp);
  background-repeat: repeat-x;
  position: relative;
  width: 11325px;
  display: inline-flex;
  flex-direction: row;
}

.bg .screen {
  position: relative;
}
