.button {
  padding: 13px;
  color: #fff;
  border-radius: 39px;
  background-color: gray;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.button,
.button-buy a {
  text-decoration: none;
  display: inline-block;
}

.button-buy {
  padding: 20px;
  border-radius: 39px;
  background-color: #c9e2d1;
  width: 229px;
  text-align: center;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-size: 20;
  font-weight: 400;
}
