.button {
  padding: 13px;
  color: #fff;
  border-radius: 39px;
  background-color: gray;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.6;
  transform: scale(1.05);
  cursor: pointer;
}

a {
  text-align: none;
  text-decoration: none;
}

.button,
.button-buy a {
  text-decoration: none;
  display: inline-block;
}

.button-buy {
  padding: 13px 2px;
  border-radius: 39px;
  background-color: #c9e2d1;
  width: 210px;
  text-align: center;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-size: 20;
  font-weight: 400;
}

.button-buy:hover {
  opacity: 0.6;
  transform: scale(1.05);
  cursor: pointer;
}
