.container-product {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fdfdfd;
  padding-bottom: 100px;
  padding-top: 80px;
  padding-left: 160px;
}

.container-image {
  padding-top: 10;
  padding-left: 50px;
  width: 500px;
}

.container-text {
  flex: 1;
  padding-left: 115px; /* Adjust as needed */
  box-sizing: border-box;
  text-align: left; /* Adjust as needed */
  padding-top: 30px;
}

.container-review {
  display: flex;
  flex-direction: row;
}

.container-review img {
  flex-shrink: 0;
  padding-right: 3px;
}

.container {
  text-align: center;
}
