.container-product {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fdfdfd;
  padding-top: 40px;
  padding: 100px;
}

.container-image {
  padding-left: 180px;
  padding-top: 10;
  width: 45%;
}

.container-text {
  flex: 1;
  padding-left: 100px; /* Adjust as needed */
  box-sizing: border-box;
  text-align: left; /* Adjust as needed */
}

.container-review {
  display: flex;
  flex-direction: row;
}

.container-review img {
  flex-shrink: 0;
  padding-right: 3px;
}

.container {
  text-align: center;
}
