.description {
  color: #000;

  font-family: Estedad-VF;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
}

.description-paragraph {
  font-size: 16px;
  line-height: 21px; /* 131.25% */
}

.description-details {
  font-size: 11px;
  line-height: 16px; /* 200% */
}
