.img-1 {
  width: 190%;
}

.img-2 {
  position: absolute;
  width: 25%;
  top: -80px;
  left: 400px;
}

.img-3 {
  position: absolute;
  width: 50%;
  top: 290px;
  left: 1120px;
}

.img-4 {
  position: absolute;
  width: 40%;
  top: -100px;
  left: 913px;
}

// the mum
.img-5 {
  position: absolute;
  width: 45%;
  top: 200px;
  left: 340px;
}

// him outside
.img-6 {
  position: absolute;
  width: 45%;
  top: -100px;
  left: 100px;
}

.img-7 {
  position: absolute;
  width: 60%;
  top: 270px;
  left: 580px;
}

// the dad
.img-8 {
  position: absolute;
  width: 26%;
  top: -100px;
  left: 255px;
}

.img-9 {
  position: absolute;
  width: 75%;
  top: -100px;
  left: -950px;
}

.img-10 {
  position: absolute;
  width: 35%;
  top: -170px;
  left: -px;
}

.img-11 {
  position: absolute;
  width: 30%;
  top: 19px;
  left: 770px;
}

.img-shadow {
  cursor: pointer;
  transition: all 0.3s ease;
}
.img-shadow:hover {
  transform: scale(1.05);
  filter: brightness(180%);
}

.img-48-standing {
  position: absolute;
  top: 63%;
  left: 34%;
  width: 25%;
}

.img-14-standing {
  position: absolute;
  top: 66%;
  left: 44%;
  width: 12%;
}

.img-kurayoshi-2 {
  position: absolute;
  top: -20%;
  left: 30%;
  width: 35%;
}

.img-kurayoshi-3 {
  position: absolute;
  top: 28%;
  left: 90%;
  width: 45%;
}

.img-kurayoshi-4 {
  position: absolute;
  top: -20%;
  left: 85%;
  width: 33%;
}

.img-kurayoshi-5 {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 42%;
}

.img-kurayoshi-6 {
  position: absolute;
  top: -20%;
  left: 25%;
  width: 65%;
}

.img-kurayoshi-7 {
  position: absolute;
  top: 48%;
  left: 45%;
  width: 70%;
}

.img-kurayoshi-8 {
  position: absolute;
  top: -15%;
  left: 110%;
  width: 120%;
}

.img-screen-11 {
  position: absolute;
  top: 2%;
  width: 180%;
}
