.paragraph {
  margin-bottom: 40px;
}

.paragraph-container {
  color: #000;

  text-align: center;
  font-family: Comic Sans MS;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 116.667% */
  padding-top: 169px;
}

.paragraph-container {
  .paragraph-space {
    margin-bottom: 80px;
  }
}

.paragraph-bg {
  padding: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(9, 9, 9, 0.8);
  display: inline-block;
  color: #fff;
}
