.product-subtitle {
  color: #000;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 24px;
}

.product-title {
  padding-bottom: 3px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}
