.style-text {
  width: 410px;
  height: 111px;
  flex-shrink: 0;
  color: #fff;

  text-align: center;
  font-family: Estedad-VF;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 112% */
  text-transform: uppercase;
}
