.text {
  position: absolute;
  color: black;
  font-family: comic sans ms, sans-serif;
  font-size: 30px;
}

.text-comment {
  color: #000;

  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px; /* 121.429% */
  padding: 10px 0px 5px;
}

.text-bg {
  background: #d9d9d9;
  filter: blur(30px);
}

.text-see {
  position: absolute;
  color: black;
  font-family: comic sans ms, sans-serif;
  top: 20%;
}

.text-date {
  color: #a7a7a7;

  font-family: ff-tisa-sans-web-pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px; /* 175% */
  position: absolute;
  top: 10%;
  left: 23%;
}

.text-style {
  font-family: ff-tisa-sans-web-pro;
  font-size: 25px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.text-1 {
  position: absolute;
  top: -15%;
  left: 3%;
}

.text-2 {
  position: absolute;
  top: 100%;
  left: 15%;
}

.text-3 {
  position: absolute;
  top: -15%;
  left: 55%;
}

.text-4 {
  position: absolute;
  top: 25%;
  left: 78%;
}

.text-5 {
  position: absolute;
  top: 18%;
  left: 25%;
}

.text-6 {
  position: absolute;
  top: 100%;
  left: 70%;
}

.text-7 {
  position: absolute;
  top: -15%;
  left: 55%;
}

.text-8 {
  position: absolute;
  top: 35%;
  left: 43%;
}

.text-9 {
  position: absolute;
  top: -10%;
  left: 46%;
}

.text-10 {
  position: absolute;
  top: -15%;
  left: 10%;
}

.text-kurayoshi-3 {
  position: absolute;
  top: 100%;
  left: 60%;
}

.text-kurayoshi-4 {
  position: absolute;
  top: -15%;
  left: 120%;
  white-space: nowrap;
}

.text-kurayoshi-5 {
  position: absolute;
  top: 40%;
  left: 125%;
  white-space: nowrap;
}

.text-kurayoshi-6 {
  position: absolute;
  top: 35%;
  left: 145%;
  white-space: nowrap;
}

.text-kurayoshi-7 {
  position: absolute;
  top: -15%;
  left: 185%;
  white-space: nowrap;
}

.text-kurayoshi-8 {
  position: absolute;
  top: 105%;
  left: 232%;
  white-space: nowrap;
}
