.ticket-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.ticket-tokyo {
  // position: absolute;
  width: 40%;
  top: 90%;
  right: 15%;
  flex-shrink: 0;
}

.ticket-kurayoshi {
  // position: absolute;
  top: 90%;
  left: 15%;
  width: 40%;
  flex-shrink: 0;
  padding-bottom: 50px;
  margin-bottom: 100px;
}
