.ticket-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.ticket-tokyo {
  width: 670px;
  height: 324.531px;
  flex-shrink: 0;
}

.ticket-kurayoshi {
  width: 670px;
  height: 326.801px;
  flex-shrink: 0;
}
