.ticket-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-tokyo,
.ticket-kurayoshi {
  width: 40%;
  flex-shrink: 0;
}

.ticket-kurayoshi {
  left: 15%;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.ticket-tokyo {
  right: 15%;
}

.ticket {
  display: block;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ticket-kurayoshi:hover {
  transform: scale(1.2);
}

.ticket-tokyo:hover {
  transform: scale(1.2);
}
